<settings version="2">
    <setting id="package.folder" default="true">Oathscrapers</setting>
    <setting id="provider.123123movies">true</setting>
    <setting id="provider.123movieshubz">true</setting>
    <setting id="provider.1337x">true</setting>
    <setting id="provider.2ddl">true</setting>
    <setting id="provider.300mbdownload">true</setting>
    <setting id="provider.300mbfilms">true</setting>
    <setting id="provider.5movies">true</setting>
    <setting id="provider.bitlord">true</setting>
    <setting id="provider.bnwmovies">true</setting>
    <setting id="provider.btdb">true</setting>
    <setting id="provider.btscene">true</setting>
    <setting id="provider.cmovieshd">true</setting>
    <setting id="provider.ddlspot">true</setting>
    <setting id="provider.directdl">true</setting>
    <setting id="provider.extramovies">true</setting>
    <setting id="provider.eztv">true</setting>
    <setting id="provider.filmxy">true</setting>
    <setting id="provider.fmovies">true</setting>
    <setting id="provider.furk" default="true">false</setting>
    <setting id="provider.gamatotv">true</setting>
    <setting id="provider.ganool">true</setting>
    <setting id="provider.glodls">true</setting>
    <setting id="provider.gmovies">true</setting>
    <setting id="provider.gowatchseries">true</setting>
    <setting id="provider.hdmto">true</setting>
    <setting id="provider.iwaatch" default="true">false</setting>
    <setting id="provider.iwannawatch">true</setting>
    <setting id="provider.kickass2">true</setting>
    <setting id="provider.library">true</setting>
    <setting id="provider.limetorrents">true</setting>
    <setting id="provider.liomenoi">true</setting>
    <setting id="provider.magnetdl">true</setting>
    <setting id="provider.mkvhub">true</setting>
    <setting id="provider.movie4kis">true</setting>
    <setting id="provider.moviesjoy">true</setting>
    <setting id="provider.myvideolink">true</setting>
    <setting id="provider.onlineseries">true</setting>
    <setting id="provider.onmovies">true</setting>
    <setting id="provider.ororo" default="true">false</setting>
    <setting id="provider.primewire">true</setting>
    <setting id="provider.projectfree">true</setting>
    <setting id="provider.putlocker">true</setting>
    <setting id="provider.rapidmoviez">true</setting>
    <setting id="provider.rlsbb">true</setting>
    <setting id="provider.scenerls">true</setting>
    <setting id="provider.seehd">true</setting>
    <setting id="provider.series9">true</setting>
    <setting id="provider.seriesonline">true</setting>
    <setting id="provider.streamdreams">true</setting>
    <setting id="provider.tainiesonline">true</setting>
    <setting id="provider.timewatch">true</setting>
    <setting id="provider.torrentapi">true</setting>
    <setting id="provider.torrentdownloads">true</setting>
    <setting id="provider.tpb">true</setting>
    <setting id="provider.tvbox">true</setting>
    <setting id="provider.tvdownload">true</setting>
    <setting id="provider.tvmovieflix">true</setting>
    <setting id="provider.ultrahd">true</setting>
    <setting id="provider.warezmovies">true</setting>
    <setting id="provider.watch32">true</setting>
    <setting id="provider.watchseries">true</setting>
    <setting id="provider.wsunblock">true</setting>
    <setting id="provider.xrysoi">true</setting>
    <setting id="provider.xwatchseries">true</setting>
    <setting id="provider.ytsam">true</setting>
    <setting id="provider.zoogle">true</setting>
</settings>
